<h1>Add a Task</h1>
<article>
  <%= form_for @task, url: create_path do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title%>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit %>
  <% end %>
</article>
